<!-- Footer -->
<footer class="footer7_component">
    <div class="padding-global">
        <div class="container-large">
            <div class="padding-bottom padding-xxlarge">
                <div class="padding-bottom padding-xxlarge">
                    <div class="footer7_top-wrapper">
                        <a href="<%- config.root %>" aria-label="GrowthSpan" id="w-node-b682af26-8597-a065-b890-8214245c337d-d886f845" class="footer7_logo-link w-nav-brand">
                            <img loading="lazy" src="https://cdn.prod.website-files.com/680bc055c7338845d886f83c/6810ee10da93abd6c198444e_GrowthSpan%20Logo-white%20svg.svg" alt="GrowthSpan logo white" class="footer7_logo">
                        </a>
                    </div>
                </div>
                <p class="paragraph">Copyright © <%= date(new Date(), 'YYYY') %> GrowthSpan.<span class="line-break is-tablet"> </span>All rights reserved.</p>
                <a href="/privacy-policy" class="link-2">Privacy Policy</a>
                <a href="/terms-of-use" class="link">Terms of Use</a>
                <a href="/dpa" class="link">Data Processing Agreement</a>
            </div>
        </div>
    </div>
</footer>
